# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.E_Shop.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Valery\Desktop\Dev\nodejs\E_Shop\.idea\.idea.E_Shop.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
